---

---

<!-- Logo -->
<div>
  <a
    class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
    href="../../templates/personal/index.html"
    aria-label="Preline"
  >
    <svg
      width="342"
      height="111"
      viewBox="0 0 342 111"
      class="h-5 w-auto"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M175.821 91.9767L166.494 91.9767L128.251 16.8912L143.175 16.8912L170.924 74.4878L169.992 74.0214L172.323 74.0214L171.391 74.4878L199.14 16.8912L214.063 16.8912L175.821 91.9767Z"
        fill="white"></path>
      <path
        d="M84.2628 34.1309L88.4701 42.4555L38.7065 110.455L31.975 97.1353L70.863 46.3899L70.8675 47.4327L69.8156 45.3516L70.6526 45.9737L6.73158 47.1876L2.49299e-06 33.8682L84.2628 34.1309Z"
        fill="white"></path>
      <path
        d="M257.44 34.1309L253.232 42.4555L302.996 110.455L309.728 97.1353L270.84 46.3899L270.835 47.4327L271.887 45.3516L271.05 45.9737L334.971 47.1876L341.702 33.8682L257.44 34.1309Z"
        fill="white"></path>
      <rect x="166" y="95" width="10" height="16" fill="white"></rect>
      <path
        d="M53.0106 97.1067H63.2707V110.787H42.7505L53.0106 97.1067Z"
        fill="white"></path>
      <path
        d="M288.993 97.1067H278.733V110.787H299.254L288.993 97.1067Z"
        fill="white"></path>
    </svg>
  </a>
</div>
<!-- End Logo -->
