<!-- Projects -->
<div class="mt-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Projects</h2>

  <!-- Image Grid -->
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1656618724305-a4257e46e847?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1616427592793-67b858804534?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1707760696486-2a2cd7e0b6a6?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1585159812596-fac104f2f069?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group block relative overflow-hidden rounded-lg" href="#">
      <img
        class="w-full size-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
        src="https://images.unsplash.com/photo-1654131300276-db70adf4f85d?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
      />
      <div
        class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition"
      >
        <div
          class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200"
        >
          <svg
            class="shrink-0 size-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>
  </div>
  <!-- End Image Grid -->
</div>
<!-- End Projects -->
