---
import SEO from "./_components/SEO.astro";
import Header from "./_components/header.astro";
import Footer from "./_components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Theme Check and Update -->
    <script>
      const html = document.querySelector("html");
      const isLightOrAuto =
        localStorage.getItem("hs_theme") === "light" ||
        (localStorage.getItem("hs_theme") === "auto" &&
          !window.matchMedia("(prefers-color-scheme: dark)").matches);
      const isDarkOrAuto =
        localStorage.getItem("hs_theme") === "dark" ||
        (localStorage.getItem("hs_theme") === "auto" &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      if (isLightOrAuto && html.classList.contains("dark"))
        html.classList.remove("dark");
      else if (isDarkOrAuto && html.classList.contains("light"))
        html.classList.remove("light");
      else if (isDarkOrAuto && !html.classList.contains("dark"))
        html.classList.add("dark");
      else if (isLightOrAuto && !html.classList.contains("light"))
        html.classList.add("light");
    </script>
    <!-- CSS Preline -->
    <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css" />
  </head>

  <body class="dark:bg-neutral-900">
    <Header />
    <slot />
    <Footer />
    <!-- JS Implementing Plugins -->
    <!-- JS PLUGINS -->
    <!-- Required plugins -->
    <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"
    ></script>
  </body>
</html>
